body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

.search-container {
  margin: 20px;
}

input {
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px;
  cursor: pointer;
}

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: white;
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 10px;
}
